.card{
    background: hsl(339, 85%, 62%);
    border: 2px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s ease;
    height: 330px;
}

.card-me{
    background: #8a8ac8;
    border: 2px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s ease;
    height: 270px;
}

.card3{
    background: #F9F9F9;
    border: 2px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s ease;
}


.card2{
    background: #e761bd;
    border: 2px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.card .cdetail {
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.card:hover .cdetail{
    visibility: visible;
    opacity: 1;
}

.card:hover{
    height: 410px;
    visibility: visible;
}

.card3:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card-me .cdetail2{
    visibility: hidden;
    opacity: 0;
}

.card-me:hover .cdetail2{
    visibility: visible;
    opacity: 1;
}

.card-me:hover{
    height: 370px;
}

.round-img{
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.round-pj{
    border-radius: 20px 0 0 20px;
    overflow: hidden;
}

.kb-font{
    color: white;
    font-size: 30px;
    font-weight: 500px;
}

.header-font{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.sec-header-font{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.exp-header-font{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.btn-text{
    color: white;
    font-size: 16px;
    font-weight: 200px;
    font-family: 'Poppins', sans-serif;
}

.text-font1{
    font-size: 16px;
    font-weight: 200px;
    font-family: 'Poppins', sans-serif;
    text-indent: 30px;
}

.text-me1{
    font-size: 20px;
    font-weight: 400px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.text-me2{
    font-size: 18px;
    font-weight: 300px;
    font-family: 'Poppins', sans-serif;
    color: #bebfc2;
}

.text-me3{
    font-size: 16px;
    font-weight: 200px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-indent: 30px;
}

.text-font2{
    font-size: 14px;
    font-weight: 100px;
    font-family: 'Poppins', sans-serif;
    text-indent: 30px;
    color: white;
}

.text-font3{
    font-size: 18px;
    font-weight: 300px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.text-btn{
    font-size: 16px;
    font-weight: 200px;
    font-family: 'Poppins', sans-serif;
    
}

.ct-pf{
    color: white;
    font-size: 20px;
    font-weight: 400px;
    font-family: 'Poppins', sans-serif;
}
.ct{
    font-size: 16px;
    font-weight: 100px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

span{
    color: white;
    font-size: 18px;
    font-weight: 500px;
    font-family: 'Poppins', sans-serif;
}

.ct-ans{
    color: white;
    font-size: 18px;
    font-weight: 100px;
    font-family: 'Poppins', sans-serif;
    text-indent: 15px;
}

.btn1 {
    padding: 20px 50px;
    margin: 20px;
    position: relative;
}

.btn3 {
    padding: 20px 50px;
    margin: 20px;
    position: relative;
}
.btn2 {
    padding: 20px 56px;
    margin: 20px;
    position: relative;
}


.btn-1{
    color: white;
    z-index: 1000;
}

.btn-1::after, .btn-1::before {
    border: 3px solid white;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s ease;
}

.btn-1:hover::after{
    transform: translate(-5px, -5px);
}

.btn-1:hover::before {
    transform: translate(5px, 5px);
}

.bg-nav{
    background-image: linear-gradient(to bottom, #FC466B 0%, #3F5EFB 100%);
}

.bg-pf{
    background-image: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
}
